<div class="exchange">
  <div class="exchange_top">
<input class="exchange_input"
       type="number"
       placeholder="0"
       [ngModel]="primaryVal"
       (input)="setPrimaryVal($event)" />
<select
  class="exchange_input"
  [ngModel]="primaryCur"
  (input)="setPrimaryCur($event)"
>
  <ng-container *ngFor="let currency of currencies | keyvalue" >
  <option [value]="currency.key">{{currency.key}}</option>
  </ng-container>
</select>
  </div>

    <div class="exchange_top">
<input class="exchange_input"
       type="number"
       placeholder="0"
       [ngModel]="secondaryVal"
       (input)="setSecondaryVal($event)" />
<select
  class="exchange_input"
  [ngModel]="secondaryCur"
  (input)="setSecondaryCur($event)"
>
  <ng-container *ngFor="let currency of currencies | keyvalue" >
    <option [value]="currency.key">{{currency.key}}</option>
  </ng-container>
</select>
  </div>
</div>
